<%- include('./inc/begin.ejs') %>
            <div class='row mt-5 mb-5'>
                <div class='col-12'>
                    <% if (viewName === 'note-detail') { %>
                    <p><a href="<%= BASE_DIR %>/notes/#<%= note.noteCategoryTextEncoded %>"><%= note.noteCategoryText %></a></p>
                    <% } %>

                    <p>Enter some notes</p>
<%- include('./inc/end.ejs') %>